[Desktop Entry]
Name=Simple Markdown Viewer in Rust and Kirigami
Name[ca]=Visualitzador senzill de Markdown en Rust i Kirigami
Name[es]=Sencillo visor de Markdown en Rust y Kirigami
Name[fr]=Afficheur simple pour langage « Markdown » dans les langages Rust et Kirigami
Name[it]=Visore Markdown semplice in Rust e Kirigami
Name[nl]=Eenvoudige Markdown-viewer in Rust en Kirigami
Name[pt_BR]=Visualizador de Markdown simples em Rust e Kirigami
Name[sl]=Preprosti ogledovalnik Markdown v Rustu in Kirigami
Name[sv]=Enkel Markdown-visning med Rust och Kirigami
Name[tr]=Rust ve Kirigami ile Basit Markdown Görüntüleyicisi
Name[uk]=Простий переглядач Markdown з використанням Rust і Kirigami
Exec=simplemdviewer
Icon=org.kde.simplemdviewer
Type=Application
Terminal=false
Categories=Utility
