# hugo
/.hugo_build.lock
/config/development/config.yaml
/public/
/resources/

# i18n
/content-trans*/
/i18n/*
!/i18n/en.yaml
/locale*/
/po[st]*/

# misc.
*.swp
.directory
/.htmltest/
/.venv/
/node_modules/

# Plasma keys extraction
tmp/
files/

# clangd
.cache

# pulled scripts like custom_generation.py
/hugo-i18n/
/ci-utilities/
/scripts/ciutilities
/scripts/fetched-icons/

# will be created by kde-org-icons-extractor
/assets/themeicons/
