[Desktop Entry]
Name=Kirigami Tutorial in Rust
Name[es]=Tutorial de Kirigami en Rust
Name[uk]=Підручник з Kirigami для Rust
Name[x-test]=xxKirigami Tutorial in Rustxx
Exec=kirigami_hello
Icon=kde
Type=Application
Terminal=false
Categories=Utility
