.kirigami-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-image: none;
  min-height: 500px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  text-align: center;
}

.kirigami-devices {
  align-self: center;
  max-height: 600px;
  height: 100%;
}
