/* color definitions */
.iconred {
    color: #da4453;
}
.plasmablue {
    color: #3daee9;
}
.noblefir {
    color: #27ae60;
}


.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
    .flex > * {
        margin-right: 18px;
    }

    .flex > *:last-child {
        margin-right: 0;
    }
