[Desktop Entry]
Name=Simple Markdown Viewer
GenericName=Markdown Viewer
Comment=A simple Markdown viewer application
Version=1.0
Exec=simplemdviewer
Icon=org.kde.simplemdviewer
Type=Application
Terminal=false
Categories=Office;
X-KDE-FormFactor=desktop;tablet;handset;
