{{ define "head_extension" }}
  {{ $sass := resources.Get "scss/home.scss" }}
  {{ $style := $sass | css.Sass }}
  <link href="{{ $style.Permalink }}" rel="stylesheet" />
{{ end }}

{{ define "main" }}
  <section id="top" class="small-top p-5">
    <div class="container text-center">
      <h1>{{ .Title }}</h1>
      <p>{{ .Params.subtitle }}</p>
      <div class="row justify-content-center">
        <a class="text-white mx-3" href="/design">{{ i18n "develop.menu.design" }}</a>
        <a class="text-white mx-3" href="/develop">{{ i18n "develop.menu.develop" }}</a>
        <a class="text-white mx-3" href="/distribute">{{ i18n "develop.menu.distribute" }}</a>
      </div>
    </div>
  </section>
  {{ .Content }}
{{ end }}
