/*
 * SPDX-FileCopyrightText: 2020 (C) Bjorn Erik Pedersen <bjorn.erik.pedersen@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

// Blog related styles.

.td-blog {
    .td-rss-button {
        position: absolute;
        top: 5.5rem;
        right: 1rem;
        z-index: 22;
    }
}