/*
 * SPDX-FileCopyrightText: 2020 (C) Bjorn Erik Pedersen <bjorn.erik.pedersen@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

// Buttons

@if $enable-rounded {
    .btn {
        border-radius: 1rem;

        &-lg {
            border-radius: 2rem;
        }

        &-sm {
            border-radius: 1rem;
        }
    }
}

.copy-code-btn {
    display: flex;
    font-size: 1.5rem;

    background-color: transparent;
    border: 0;
    margin-right: 0;
    margin-left: auto;
}
.copy-code-btn .icon {
    color: var(--text);
    pointer-events: none;
}
