/*
 * SPDX-FileCopyrightText: 2020 (C) Bjorn Erik Pedersen <bjorn.erik.pedersen@gmail.com>
 * SPDX-FileCopyrightText: 2020 (C) Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: 2020 (C) Takayama Fumihiko <tekezo@pqrs.org>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

// Search
.td-search {
  position: relative;
  width: 100%;

  // Search icon
  &__icon {
    // Vertically center the content.
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    height: 100%;

    // Position this on the left of the input.
    position: absolute;
    left: 0.5rem;

    // Click-through to the underlying input.
    pointer-events: none;
  }

  // Search input element
  &__input {
    width: 100%;
    text-indent: 1.5em;
  }
  &__input:disabled {
    cursor: wait;
  }
  ::placeholder {
    color: var(--text-muted);
  }
}

.popover.offline-search-result {
  // Override bootstrap default style (max-width: $popover-max-width;)
  max-width: 90%;

  .card {
    margin-bottom: $spacer * .5;
  }
}
