.ae-card {
    border: 2px solid rgba(var(--bs-link-color-rgb), 0.25) !important;
    box-shadow: none !important;

    &:hover {
        border-color: rgba(var(--bs-link-color-rgb), 1.0) !important;

        .h4, .icon {
            color: rgba(var(--bs-link-color-rgb), 1.0) !important;
        }

    }

    .h4, .h1  {
        margin-top: 0;
    }
  }
