<nav>
  <div class="container text-center block-navs">
    <a class="block-nav" href="/design">
      <i class="icon icon_oilpaint"></i>
      <h2>Design</h2>
      <p>Learn about KDE's design guidelines for apps and icons</p>
    </a>
    <a class="block-nav" href="/develop">
      <i class="icon icon_format-text-code"></i>
      <h2>Develop</h2>
      <p>Check out the tools and libraries that help you build KDE apps</p>
    </a>
    <a class="block-nav" href="/distribute">
      <i class="icon icon_document-share"></i>
      <h2>Distribute</h2>
      <p>Get your application in front of users</p>
    </a>
  </div>
</nav>