{{ $cover := .HasShortcode "blocks/cover" }}
<a class="visually-hidden" href="#main">{{ i18n "skip-to-content" }}</a>
<nav class="navbar navbar-expand-lg">
    {{ if $.Site.Params.logo }}
        <a class="app-logo navbar-brand" href="{{ "/" | relLangURL }}">
            <img src="{{ $.Site.Params.logo }}" alt="Logo">
            {{ if $.Site.Params.displayTitle }}
                <span class="navbar-brand-text">{{ i18n "displayed-title" }}</span>
            {{ end }}
        </a>
    {{ else }}
        <a class="kde-logo navbar-brand" href="{{ "/" | relLangURL }}">
            <span class="visually-hidden">{{ i18n "home" }}</span>
            {{ if $.Site.Params.displayTitle }}
                {{ i18n "displayed-title" }}
            {{ end }}
        </a>
    {{ end }}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        {{- partial "navbar_nav.html" . -}}
    </div>
    {{ if .Site.Params.madeByKde }}
    <a class="made-by-kde" target="_blank" href="https://kde.org">
        {{ i18n "made-by-kde" }}
    </a>
    {{ end }}
</nav>
