[Desktop Entry]
Name=Time
Comment=Configure Time
Encoding=UTF-8
Type=Service
Icon=preferences-system-time
X-KDE-Library=kcm_time
X-KDE-ServiceTypes=KCModule
X-KDE-FormFactors=desktop,handset,tablet,mediacenter
X-Plasma-MainScript=ui/main.qml
X-KDE-System-Settings-Parent-Category=personalization
X-KDE-Keywords=Time,Date,Clock
X-KDE-ParentApp=kcontrol
