{{ if gt (len .Inner) 0 }}
  {{ if .Get "src" }}
    <figure {{ with .Parent }}class="col-12 col-md-6 text-center" {{ else }} class="col-12"{{ end }}>
      <picture class="img-fluid">
        {{ $basename := substr (.Get "src") 0 -4 }}
        {{ if (fileExists (printf "content%s%s-dark.png" $.Page.RelPermalink $basename)) }}
          <source srcset="{{ printf "%s-dark.png" $basename }}" media="(prefers-color-scheme: dark)">
        {{ end }}
        <img src="{{ .Get "src" }}" alt="" />
      </picture>
      <figcaption class="alert alert-success">{{ .Inner }}</figcaption>
    </figure>
  {{ else }}
    <span style="color: #2ecc71;">Do:<br />{{ .Inner }}</span>
  {{ end }}
{{ else }}
  <h3 style="color: #2ecc71;">Do</h3>
{{ end }}

