{{/* SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu> */}}
{{/* SPDX-License-Identifier: LGPL-3.0-or-later */}}
{{ $filePath := printf "files/%s/%s" (.Get "repo") (.Get "file") }}
{{- if fileExists $filePath -}}
  {{- $fileContent := $filePath  | readFile -}}
  {{- $fileContent = split $fileContent "\n" -}}
  {{- $line := 1 -}}
  {{- $line_start := 0 -}}
  {{- $line_end := false -}}
  {{- $part := .Get "part" -}}
  {{- range $fileContent -}}
    {{- if not $line_end -}}
      {{- if and (in . (printf "//! [%s]" $part)) (not (eq $line_start 0)) -}}
        {{- $line_end = true -}}
        {{- $line = sub $line 2 -}}
      {{- end -}}
      {{- if and (in . (printf "//! [%s]" $part)) (eq $line_start 0) -}}
        {{ $line_start = $line -}}
      {{- end -}}
      {{- $line = add $line 1 -}}
    {{ end }}
  {{- end -}}
  {{- $fileContent = first (sub $line $line_start) (after (default 0 $line_start) $fileContent) -}}
  {{- $fileContent = delimit $fileContent "\n" -}}
  {{- highlight ($fileContent) (.Get "lang") "" -}}
{{ else -}}
  {{- warnf "Missing %s (Run: python3 scripts/extract-plasma-applet-config-keys.py)" $filePath -}}
  <div class="alert alert-error" role="alert">
    Website is missing <code>{{ $filePath }}</code><br>
    Run <code>python3 scripts/extract-plasma-applet-config-keys.py</code> to fix.
  </div>
{{- end -}}
