{{- $fileContent := .Get "file" | readFile -}}
{{- if eq (.Get "markdown") "true" -}}
{{- $fileContent | markdownify -}}
{{- else -}}
  {{- $start := 1 -}}
  {{- if (or (.Get "start") (.Get "lines")) -}}
    {{- with .Get "start" }}{{ $start = . }}{{ end -}}
    {{- $skip := sub $start 1 -}}
    {{- $lines := .Get "lines" | default 0 -}}
    {{- $fileContent = split $fileContent "\n" -}}
    {{- $fileContent = after $skip $fileContent -}}
    {{- if gt $lines 0 -}}
      {{- $fileContent = first $lines $fileContent -}}
    {{- end -}}
    {{- $fileContent = delimit $fileContent "\n" -}}
  {{- end -}}
  {{- with .Get "highlight" -}}
    {{- $args := print "linenos=table,linenostart=" $start -}}
    {{- highlight $fileContent . $args -}}
  {{- else -}}
    {{- $fileContent | htmlUnescape | safeHTML -}}
  {{- end -}}
{{- end -}}
