{{- $filePath := .Get "file" -}}
{{- $fileResource := $filePath | .Page.Resources.GetMatch -}}
{{- $fileContent := "" -}}
{{- with $fileResource }}{{ $fileContent = .Content -}}
{{- else }}{{ $fileContent = readFile $filePath -}}
{{- end -}}

{{- if eq (.Get "markdown") "true" -}}
{{- $fileContent | markdownify -}}
{{- else -}}
  {{- $start := 1 -}}
  {{- if (or (.Get "start") (.Get "lines")) -}}
    {{- with .Get "start" }}{{ $start = . }}{{ end -}}
    {{- $skip := sub $start 1 -}}
    {{- $lines := .Get "lines" | default 0 -}}
    {{- $fileContent = split $fileContent "\n" -}}
    {{- $fileContent = after $skip $fileContent -}}
    {{- if gt $lines 0 -}}
      {{- $fileContent = first $lines $fileContent -}}
    {{- end -}}
    {{- $fileContent = delimit $fileContent "\n" -}}
  {{- end -}}
  {{- with .Get "highlight" -}}
    {{- $args := print "linenos=table,linenostart=" $start -}}
    {{- with $.Get "emphasize" -}}
      {{- $args = print $args ",hl_lines=" . -}}
    {{- end -}}
    {{- highlight $fileContent . $args -}}
  {{- else -}}
    {{- $fileContent | htmlUnescape | safeHTML -}}
  {{- end -}}
{{- end -}}
