{{ $file := .Get "file" }}
{{ $code := "" }}
{{ with .Get "config" }}
{{ $file = $file | default "config" }}
{{ $sections := (split . ".") }}
{{ $configSection := index $.Site.Data.docs.config $sections }}
{{ $code = dict $sections $configSection  }}
{{ else }}
{{ $code = $.Inner }}
{{ end  }}
{{ $langs := (slice "python" "cpp") }}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" id="python-tab" data-bs-toggle="tab" href="#python" role="tab" aria-controls="python" aria-selected="true">Python</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="cpp-tab" data-bs-toggle="tab" href="#cpp" role="tab" aria-controls="cpp" aria-selected="true">C++</a>
  </li>
</ul>
<div class="tab-content">
  {{ $.Inner }}
</div>
