{{ $uniqueId := .Ordinal }}
<nav>
  <div class="nav nav-tabs" id="tabset-{{ $uniqueId }}" role="tablist">
      {{ $tabName := .Scratch.Get "tabName" }}
      {{ $tabID := .Scratch.Get "tabID" }}

      {{ range $index, $id := $tabID }}
        <a class="nav-item nav-link {{ if eq $index 0 }}active{{ end }}"
           id="tab-{{ $id }}" data-bs-toggle="tab" href="#{{ $id }}"
           role="tab" aria-controls="{{ $id }}" aria-selected="{{ if eq $index 0 }}true{{ else }}false{{ end }}">{{ trim (index $tabName $index) " " }}</a>
      {{ end }}
  </div>
</nav>
<div class="tab-content" id="tabset-content-{{ $uniqueId }}">
    {{ .Inner }}
</div>